h1 {
font-size:200%
}
body{
text-align:center;
position: absolute;
    height: 800px;
    color:#fa0202 ;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: #243bbd;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}
img{
width: 175px;
margin-bottom: 50px;
border-radius: 50px;
}